.wedding-nav {
    /*border-right: 1px solid #b0b0b0;*/
    /*padding-right: 1em;*/
    margin-bottom: 1em;
}

.fluid-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

body {
    background-image: url("/images/linen-bg.png");
    padding-bottom: 180px;
}

#header-img {
    width: 1000px;
    position: relative;
    top: -18px;
}

.bottom-nav {
    /*background: url("/images/linen-bg.png") repeat;*/
}

#footer-img {
    height: 179.5px;
    background: url("/images/footer-nav.png") no-repeat top;
    position: relative;
    top:2px;
}

.nav-hover-buttons {
    display: inline-block;
    position: relative;
}

#events-link {
    /*background: gray;*/
    width: 159px;
    height: 151px;
    left: 61px;
    top: 46px;
}

#rsvp-link {
    /*background: black;*/
    width: 184px;
    height: 83px;
    left: 57px;
    top: 14px;
}

#home-link {
    /*background: red;*/
    width: 132px;
    height: 163px;
    left: 53px;
    top: 15px;
}

#registry-link {
    /*background: green;*/
    width: 187px;
    height: 124px;
    left: 49px;
    top: 16px;
}

#travel-link {
    /*background: pink;*/
    width: 143px;
    height: 95px;
    left: 45px;
    top: 14px;
}

.container {
    width: 970px;
    max-width: none !important;
}

#registry-header {
    width: 900px;
    position: relative;
    top: -203px;
    left: 58px;
    z-index: -1;
}